// define all kinds of sprites here

=openid
  background-color: transparent
  display: block
  float: left
  width: 46px
  height: 46px
  background-image: url('/img/openid.png')
  background-repeat: no-repeat

=openid-google
  +openid
  background-position: 0 0

=openid-github
  +openid
  background-position: -46px 0
