// define all kinds of sprites here

=openid
  background-color: transparent
  display: block
  float: left
  width: 46px
  height: 46px
  background-image: url('/img/openid.png')
  background-repeat: no-repeat

=openid-facebook
  +openid
  background-position: 0 0

=openid-google
  +openid
  background-position: 0 -46px

=openid-twitter
  +openid
  background-position: 0 -92px

=openid-yahoo
  +openid
  background-position: 0 -138px

