@import compass
+global-reset
+reset-html5

@import util
@import sprite
@import typo
@import tipsy

#body
  width: 100%

// login form

#openid-form label
  display: block
  padding:
    top: 8px
    bottom: 8px

#openid-form a[data-method]
  text-indent: -50000px
  margin-right: 5px

#openid-form .google
  +openid-google

#openid-form .yahoo
  +openid-yahoo

#openid-form .twitter
  +openid-twitter

#openid-form .facebook
  +openid-facebook

// index posts

#posts
  margin-left: 181px

aside.posts
  padding: 0 10px
  background: #efefef
  float: left
  width: 160px
  position: relative
  border-right: 1px solid #999
  border-left: 1px solid #999

aside .user
  padding-top: 10px

#posts .post
  padding:
    left: 10px
    right: 10px
    top: 8px
  border-bottom: 1px solid #999
  &:hover
    background: #efefef

#posts .post > a
  font-size: 18px
  display: block
  padding-bottom: 25px
  &:hover
    text-decoration: none
  span
    @extend .gray
    font-size: 0.85em
    margin-left: 5px

#posts .toolbar
  @extend .gray
  margin:
    top: -23px
  float: right

#posts .load-more a
  display: block
  background: #eef
  text-align: center
  padding: 5px
  &:hover
    background: #f4f4ff